/* Fondo de la página */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #4facfe, #00f2fe);

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

/* Caja del login */
.login-container {
    background: white;
    padding: 40px;
    border-radius: 12px;

    width: 300px;

    box-shadow: 0 4px 10px rgba(0,0,0,0.2);

    text-align: center;
}

/* Título */
.login-container h2 {
    margin-bottom: 20px;
    color: #333;
}

/* Inputs */
.login-container input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;

    border: 1px solid #ccc;
    border-radius: 8px;

    font-size: 16px;
    box-sizing: border-box;
}

/* Botón */
.login-container button {
    width: 100%;
    padding: 12px;

    background: #4facfe;
    color: white;

    border: none;
    border-radius: 8px;

    font-size: 16px;
    cursor: pointer;

    transition: 0.3s;
}

/* Hover del botón */
.login-container button:hover {
    background: #008cdd;
}